---
import Layout from "../layouts/Layout.astro"
import pageData from "../data/pages.json"
---

<Layout title="MZ CHORD">
	<div class="cs-preloader cs-white_bg cs-center">
		<div class="cs-preloader_in">
			<img src="/assets/images/mzchord-100.png" alt="Logo" />
		</div>
	</div>
	<!-- Start Header Section -->
	<header class="cs-site_header cs-style1 cs-sticky-header cs-primary_color">
		<div class="cs-main_header">
			<div class="container">
				<div class="cs-main_header_in">
					<div class="cs-main_header_left">
						<a
							class="cs-site_branding"
							href="/"
							style="text-decoration: none; font-size: 27px; color: #d19432;"
						>
							MZ CHORD
						</a>
					</div>
					<div class="cs-main_header_center">
						<div class="cs-nav">
							<ul class="cs-nav_list">
								<li class="menu-item-has-children">
									<a href="#home" class="cs-smoth_scroll">Home</a>
								</li>

								<li>
									<a href="#features" class="cs-smoth_scroll">Features</a>
								</li>

								<li><a href="#faq" class="cs-smoth_scroll">FAQ</a></li>
								<li>
									<a href="#important" class="cs-smoth_scroll">Pages</a>
								</li>

								<!-- {
									pageData.map((e) => (
										<li>
											<a
												href={`/pages/${e.params.slug}`}
												class="cs-smoth_scroll"
											>
												{e.params?.label}
											</a>
										</li>
									))
								} -->
								<!-- {pageData.forEach((e) => e.params?.label)} -->
								<!-- <li>
									<a href="#support" class="cs-smoth_scroll">Support</a>
								</li> -->
								<!-- <li>
									<a href="#support" class="cs-smoth_scroll">Support</a>
								</li> -->
							</ul>
						</div>
					</div>
					<div class="cs-main_header_right">
						<div class="cs-toolbox">
							<span class="cs-icon_btn cs-mode_btn">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									xmlns:xlink="http://www.w3.org/1999/xlink"
									aria-hidden="true"
									role="img"
									class="cs-hide_dark iconify iconify--ph"
									width="1em"
									height="1em"
									viewBox="0 0 256 256"
									><path
										fill="currentColor"
										d="M233.54 142.23a8 8 0 0 0-8-2a88.08 88.08 0 0 1-109.8-109.8a8 8 0 0 0-10-10a104.84 104.84 0 0 0-52.91 37A104 104 0 0 0 136 224a103.09 103.09 0 0 0 62.52-20.88a104.84 104.84 0 0 0 37-52.91a8 8 0 0 0-1.98-7.98Zm-44.64 48.11A88 88 0 0 1 65.66 67.11a89 89 0 0 1 31.4-26A106 106 0 0 0 96 56a104.11 104.11 0 0 0 104 104a106 106 0 0 0 14.92-1.06a89 89 0 0 1-26.02 31.4Z"
									></path></svg
								>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									xmlns:xlink="http://www.w3.org/1999/xlink"
									aria-hidden="true"
									role="img"
									class="cs-hide_white iconify iconify--ph"
									width="1em"
									height="1em"
									viewBox="0 0 256 256"
									><path
										fill="currentColor"
										d="M116 32V16a12 12 0 0 1 24 0v16a12 12 0 0 1-24 0Zm80 96a68 68 0 1 1-68-68a68.07 68.07 0 0 1 68 68Zm-24 0a44 44 0 1 0-44 44a44.05 44.05 0 0 0 44-44ZM51.51 68.49a12 12 0 1 0 17-17l-12-12a12 12 0 0 0-17 17Zm0 119l-12 12a12 12 0 0 0 17 17l12-12a12 12 0 1 0-17-17ZM196 72a12 12 0 0 0 8.49-3.51l12-12a12 12 0 0 0-17-17l-12 12A12 12 0 0 0 196 72Zm8.49 115.51a12 12 0 0 0-17 17l12 12a12 12 0 0 0 17-17ZM44 128a12 12 0 0 0-12-12H16a12 12 0 0 0 0 24h16a12 12 0 0 0 12-12Zm84 84a12 12 0 0 0-12 12v16a12 12 0 0 0 24 0v-16a12 12 0 0 0-12-12Zm112-96h-16a12 12 0 0 0 0 24h16a12 12 0 0 0 0-24Z"
									></path></svg
								>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- End Header Section -->
	<div class="cs-height_80 cs-height_lg_80"></div>

	<!-- Start Hero -->

	<div
		class="cs-hero cs-style1 cs-type2 cs-bg text-center cs-ripple_version"
		data-src="/assets/images/hero_bg_1.jpeg"
		id="home"
		style="min-height: 100vh"
	>
		<div class="cs-dark_overlay"></div>

		<div class="container">
			<div
				class="cs-hero_img wow fadeInUp"
				data-wow-duration="1s"
				data-wow-delay="0.3s"
				style="min-width: 300px;"
			>
				<div class="cs-hero_img_sm">
					<img src="/assets/images/icon-512.png" alt="Hero Image" />
				</div>
			</div>
			<h3 class="text-white">
				Thalai leh thangthar te'n awlsam zawka rimawi an zir theih nan
			</h3>
		</div>
	</div>
	<!-- End Hero -->

	<!-- Start Goals -->
	<section id="features">
		<div class="cs-height_70 cs-height_lg_40"></div>
		<div class="container">
			<div
				class="cs-seciton_heading cs-style1 text-center wow fadeInUp"
				data-wow-duration="1s"
				data-wow-delay="0.2s"
			>
				<h3 class="cs-section_title cs-font_16 cs-font_14_sm cs-gradient_color">
					MZ CHORD FEATURES
				</h3>
				<!-- <h2 class="cs-section_subtitle cs-m0 cs-font_36 cs-font_24_sm">
          Roadmap Make Unique
        </h2> -->
			</div>
			<div class="cs-height_50 cs-height_lg_30"></div>
			<div
				class="cs-accent_seperator_1 cs-accent_color wow fadeInLeft"
				data-wow-duration="1s"
				data-wow-delay="0.3s"
			>
			</div>
			<div class="row wow fadeIn" data-wow-duration="1s" data-wow-delay="0.35s">
				<div class="col-lg col-sm-12">
					<div class="cs-card cs-style2">
						<div
							class="cs-card_number cs-accent_bg cs-white_color cs-center cs-primary_font cs-font_22 cs-bold"
						>
							1
							<div class="cs-card_tick">
								<svg
									width="18"
									height="19"
									viewBox="0 0 18 19"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M0.899994 9.90957C0.899994 5.43606 4.52649 1.80957 8.99999 1.80957C13.4735 1.80957 17.1 5.43606 17.1 9.90957C17.1 14.3831 13.4735 18.0096 8.99999 18.0096C4.52649 18.0096 0.899994 14.3831 0.899994 9.90957Z"
										fill="#06182C"
										stroke="#0A2540"
										stroke-width="2"></path>
									<path
										d="M8.99999 1.80957C4.52649 1.80957 0.899994 5.43606 0.899994 9.90957C0.899994 14.3831 4.52649 18.0096 8.99999 18.0096C13.4735 18.0096 17.1 14.3831 17.1 9.90957C17.1 5.43606 13.4735 1.80957 8.99999 1.80957ZM12.4755 5.60348L14.1584 7.28636L8.90211 12.5437L7.2291 14.2157L5.54622 12.5328L3.84158 10.8271L5.51359 9.15512L7.21824 10.8608L12.4755 5.60348Z"
										fill="white"></path>
								</svg>
							</div>
						</div>
						<div class="cs-height_30 cs-height_lg_15"></div>
						<div class="cs-card_in cs-light_bg">
							<h3 class="cs-gradient_color cs-font_18 cs-font_16_sm cs-m0">
								A bulṭhut
							</h3>
							<div class="cs-height_5 cs-height_lg_5"></div>
							<!-- <h2 class="cs-font_24 cs-font_16_sm cs-m0">
                Initialization
              </h2> -->
							<div class="cs-height_10 cs-height_lg_10"></div>
							<p class="cs-m0">
								MZ CHORD zirna bungrua leh pawimawh dang dah luhna tur siam fel
								a ni.
							</p>
						</div>
					</div>
					<div class="cs-height_25 cs-height_lg_25"></div>
				</div>
				<div class="col-lg col-sm-12">
					<div class="cs-card cs-style2">
						<div
							class="cs-card_number cs-accent_bg cs-white_color cs-center cs-primary_font cs-font_22 cs-bold"
						>
							2
							<div class="cs-card_tick">
								<svg
									width="18"
									height="19"
									viewBox="0 0 18 19"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M0.899994 9.90957C0.899994 5.43606 4.52649 1.80957 8.99999 1.80957C13.4735 1.80957 17.1 5.43606 17.1 9.90957C17.1 14.3831 13.4735 18.0096 8.99999 18.0096C4.52649 18.0096 0.899994 14.3831 0.899994 9.90957Z"
										fill="#06182C"
										stroke="#0A2540"
										stroke-width="2"></path>
									<path
										d="M8.99999 1.80957C4.52649 1.80957 0.899994 5.43606 0.899994 9.90957C0.899994 14.3831 4.52649 18.0096 8.99999 18.0096C13.4735 18.0096 17.1 14.3831 17.1 9.90957C17.1 5.43606 13.4735 1.80957 8.99999 1.80957ZM12.4755 5.60348L14.1584 7.28636L8.90211 12.5437L7.2291 14.2157L5.54622 12.5328L3.84158 10.8271L5.51359 9.15512L7.21824 10.8608L12.4755 5.60348Z"
										fill="white"></path>
								</svg>
							</div>
						</div>
						<div class="cs-height_30 cs-height_lg_15"></div>
						<div class="cs-card_in cs-light_bg">
							<h3 class="cs-gradient_color cs-font_18 cs-font_16_sm cs-m0">
								MZ CHORD APP
							</h3>
							<div class="cs-height_5 cs-height_lg_5"></div>
							<!-- <h2 class="cs-font_24 cs-font_16_sm cs-m0">Community Build</h2> -->
							<div class="cs-height_10 cs-height_lg_10"></div>
							<p class="cs-m0">
								Thalaite banphakah, mizo hla ngei zir theihna tur, mobile app
								duan mek a ni.
							</p>
						</div>
					</div>
					<div class="cs-height_25 cs-height_lg_25"></div>
				</div>
				<div class="col-lg col-sm-12">
					<div class="cs-card cs-style2">
						<div
							class="cs-card_number cs-accent_bg cs-white_color cs-center cs-primary_font cs-font_22 cs-bold"
						>
							3
							<div class="cs-card_tick">
								<svg
									width="18"
									height="19"
									viewBox="0 0 18 19"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M0.899994 9.90957C0.899994 5.43606 4.52649 1.80957 8.99999 1.80957C13.4735 1.80957 17.1 5.43606 17.1 9.90957C17.1 14.3831 13.4735 18.0096 8.99999 18.0096C4.52649 18.0096 0.899994 14.3831 0.899994 9.90957Z"
										fill="#06182C"
										stroke="#0A2540"
										stroke-width="2"></path>
									<path
										d="M8.99999 1.80957C4.52649 1.80957 0.899994 5.43606 0.899994 9.90957C0.899994 14.3831 4.52649 18.0096 8.99999 18.0096C13.4735 18.0096 17.1 14.3831 17.1 9.90957C17.1 5.43606 13.4735 1.80957 8.99999 1.80957ZM12.4755 5.60348L14.1584 7.28636L8.90211 12.5437L7.2291 14.2157L5.54622 12.5328L3.84158 10.8271L5.51359 9.15512L7.21824 10.8608L12.4755 5.60348Z"
										fill="white"></path>
								</svg>
							</div>
						</div>
						<div class="cs-height_30 cs-height_lg_15"></div>
						<div class="cs-card_in cs-light_bg">
							<h3 class="cs-gradient_color cs-font_18 cs-font_16_sm cs-m0">
								HLA DIL LEH DAH
							</h3>
							<div class="cs-height_5 cs-height_lg_5"></div>

							<div class="cs-height_10 cs-height_lg_10"></div>
							<p class="cs-m0">
								MZ CHORD-a awm lo, hla dilna leh dah belhna tur siam a ni ang.
							</p>
						</div>
					</div>
					<div class="cs-height_25 cs-height_lg_25"></div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Goals -->

	<!-- Start FAQ -->
	<section id="faq" style="padding-bottom: 100px">
		<div class="cs-height_95 cs-height_lg_65"></div>
		<div class="container">
			<div
				class="cs-seciton_heading cs-style1 text-center wow fadeInUp"
				data-wow-duration="1s"
				data-wow-delay="0.35s"
			>
				<h3 class="cs-section_title cs-font_16 cs-font_14_sm cs-gradient_color">
					FAQ
				</h3>
				<h2 class="cs-section_subtitle cs-m0 cs-font_36 cs-font_24_sm">
					Zawhna i nei em?
				</h2>
			</div>
			<div class="cs-height_50 cs-height_lg_30"></div>
			<div
				class="row cs-accordians cs-style1 wow fadeIn"
				data-wow-duration="1s"
				data-wow-delay="0.35s"
			>
				<div class="col-lg-8 offset-lg-2">
					<div class="cs-accordian cs-light_bg active">
						<div class="cs-accordian_head">
							<h2 class="cs-accordian_title cs-m0 cs-font_24 cs-font_18_sm">
								<span>Q1.</span> Enge MZ CHORD CHU??
							</h2>
							<span class="cs-accordian_toggle"></span>
						</div>
						<div class="cs-accordian-body">
							Mizo thalai leh thangtharte'n awlsam zawka rimawi tum thiam an zir
							theih nan, MCHORD hi buatsaih a ni.
						</div>
					</div>
					<!-- .cs-accordian -->
					<div class="cs-height_25 cs-height_lg_25"></div>
					<div class="cs-accordian cs-light_bg">
						<div class="cs-accordian_head">
							<h2 class="cs-accordian_title cs-m0 cs-font_24 cs-font_18_sm">
								<span>Q2.</span> Engtin nge hla kan request theih ang?
							</h2>
							<span class="cs-accordian_toggle"></span>
						</div>
						<div class="cs-accordian-body">
							Hla la awm lo request duh in nei a nih chuan <a href=""
								>MOBILE APP</a
							>-ah luha, 'REQUEST SONG' tab atangin request theih a ni ang.
						</div>
					</div>
					<!-- .cs-accordian -->
					<div class="cs-height_25 cs-height_lg_25"></div>
					<div class="cs-accordian cs-light_bg">
						<div class="cs-accordian_head">
							<h2 class="cs-accordian_title cs-m0 cs-font_24 cs-font_18_sm">
								<span>Q3.</span> Mahniin hla a dah luh theih em?
							</h2>
							<span class="cs-accordian_toggle"></span>
						</div>
						<div class="cs-accordian-body">
							Mahnia hla dah luh dawn chuan <a href="">Website</a>-ah in lut
							anga, <a href="">HLA DAH BELHNA</a> form atangin dah belh theih a ni
							ang.
						</div>
					</div>
					<!-- .cs-accordian -->
					<div class="cs-height_25 cs-height_lg_25"></div>
					<div class="cs-accordian cs-light_bg">
						<div class="cs-accordian_head">
							<h2 class="cs-accordian_title cs-m0 cs-font_24 cs-font_18_sm">
								<span>Q4.</span> MZ CHORD hi engtia enkawl nge?
							</h2>
							<span class="cs-accordian_toggle"></span>
						</div>
						<div class="cs-accordian-body">
							MZ CHORD hi tlawmngaia hun leh tha senga thangthar leh thalaite
							tana buatsaih a ni a. ADS hmanga mahnia intung ding thei tura
							buatsaih a ni a. Thawhpui thiam zawkte'n zirlai (material) tha
							tawk tak an lo duang chhuak theih kan beisei bawk.
						</div>
					</div>

					<div class="cs-height_25 cs-height_lg_25"></div>
				</div>
			</div>
		</div>
	</section>
	<section id="important" style="padding-bottom: 100px">
		<div
			class="cs-seciton_heading cs-style1 text-center wow fadeInUp"
			data-wow-duration="1s"
			data-wow-delay="0.35s"
		>
			<h3 class="cs-section_title cs-font_16 cs-font_14_sm cs-gradient_color">
				Important links
			</h3>

			<!-- <div style="max-width: 250px; margin: auto; "> -->
			<ul class="cs-nav_list" style="list-style-type: none">
				{
					pageData.map((e) => (
						<li>
							<a href={`/pages/${e.params.slug}`} class="cs-smoth_scroll">
								{e.params?.label}
							</a>
						</li>
					))
				}
			</ul>
			<!-- </div> -->
		</div>
	</section>

	<footer class="cs-footer text-center">
		<div class="container">
			<div class="cs-height_100 cs-height_lg_70"></div>
			<div
				class="cs-footer_logo wow fadeInUp"
				data-wow-duration="1s"
				data-wow-delay="0.2s"
			>
				<img width="100px" src="/assets/images/icon-512.png" alt="logo" />
				<!-- class="cs-hide_dark" -->
			</div>
			<div id="support" class="cs-height_25 cs-height_lg_25"></div>
			<div
				class="cs-social_btns cs-center wow fadeInUp"
				data-wow-duration="1s"
				data-wow-delay="0.3s"
			>
				<a
					href="https://facebook.com/mzchord"
					class="cs-center cs-primary_color cs-accent_bg_hover cs-light_bg cs-white_color_hover"
					target="_blank"
					title="Facebook"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						aria-hidden="true"
						role="img"
						width="24"
						height="24"
						preserveAspectRatio="xMidYMid meet"
						viewBox="0 0 32 32"
					>
						<path
							fill="currentColor"
							d="m23.446 18l.889-5.791h-5.557V8.451c0-1.584.776-3.129 3.265-3.129h2.526V.392S22.277.001 20.085.001c-4.576 0-7.567 2.774-7.567 7.795v4.414H7.431v5.791h5.087v14h6.26v-14z"
						></path>
					</svg>
				</a>
				<a
					href="https://facebook.com/mzchord"
					target="_blank"
					title="twitter"
					class="cs-center cs-primary_color cs-accent_bg_hover cs-light_bg cs-white_color_hover"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						aria-hidden="true"
						role="img"
						width="24"
						height="24"
						preserveAspectRatio="xMidYMid meet"
						viewBox="0 0 24 24"
					>
						<path
							fill="currentColor"
							d="M23.643 4.937c-.835.37-1.732.62-2.675.733a4.67 4.67 0 0 0 2.048-2.578a9.3 9.3 0 0 1-2.958 1.13a4.66 4.66 0 0 0-7.938 4.25a13.229 13.229 0 0 1-9.602-4.868c-.4.69-.63 1.49-.63 2.342A4.66 4.66 0 0 0 3.96 9.824a4.647 4.647 0 0 1-2.11-.583v.06a4.66 4.66 0 0 0 3.737 4.568a4.692 4.692 0 0 1-2.104.08a4.661 4.661 0 0 0 4.352 3.234a9.348 9.348 0 0 1-5.786 1.995a9.5 9.5 0 0 1-1.112-.065a13.175 13.175 0 0 0 7.14 2.093c8.57 0 13.255-7.098 13.255-13.254c0-.2-.005-.402-.014-.602a9.47 9.47 0 0 0 2.323-2.41l.002-.003Z"
						></path>
					</svg>
				</a>
				<a
					href="https://instagram.com/mzchord"
					target="_blank"
					title="instagram"
					class="cs-center cs-primary_color cs-accent_bg_hover cs-light_bg cs-white_color_hover"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						aria-hidden="true"
						role="img"
						width="24"
						height="24"
						preserveAspectRatio="xMidYMid meet"
						viewBox="0 0 48 48"
					>
						<mask id="svgIDa1">
							<g fill="none">
								<path
									fill="#fff"
									stroke="#fff"
									stroke-linejoin="round"
									stroke-width="4"
									d="M34 6H14a8 8 0 0 0-8 8v20a8 8 0 0 0 8 8h20a8 8 0 0 0 8-8V14a8 8 0 0 0-8-8Z"
								></path>
								<path
									fill="#000"
									stroke="#000"
									stroke-linejoin="round"
									stroke-width="4"
									d="M24 32a8 8 0 1 0 0-16a8 8 0 0 0 0 16Z"></path>
								<path fill="#000" d="M35 15a2 2 0 1 0 0-4a2 2 0 0 0 0 4Z"
								></path>
							</g>
						</mask>
						<path fill="currentColor" d="M0 0h48v48H0z" mask="url(#svgIDa1)"
						></path>
					</svg>
				</a>
				<a
					href="https://youtube.com/mzchord"
					target="_blank"
					title="youtube"
					class="cs-center cs-primary_color cs-accent_bg_hover cs-light_bg cs-white_color_hover"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						aria-hidden="true"
						role="img"
						width="24"
						height="24"
						preserveAspectRatio="xMidYMid meet"
						viewBox="0 0 24 24"
					>
						<g fill="none">
							<g clip-path="url(#svgIDa2)">
								<path
									fill="currentColor"
									d="M23.5 6.507a2.786 2.786 0 0 0-.766-1.27a3.05 3.05 0 0 0-1.338-.742C19.518 4 11.994 4 11.994 4a76.624 76.624 0 0 0-9.39.47a3.16 3.16 0 0 0-1.338.76c-.37.356-.638.795-.778 1.276A29.09 29.09 0 0 0 0 12c-.012 1.841.151 3.68.488 5.494c.137.479.404.916.775 1.269c.371.353.833.608 1.341.743c1.903.494 9.39.494 9.39.494a76.8 76.8 0 0 0 9.402-.47a3.05 3.05 0 0 0 1.338-.742a2.78 2.78 0 0 0 .765-1.27A28.38 28.38 0 0 0 24 12.023a26.579 26.579 0 0 0-.5-5.517ZM9.602 15.424V8.577l6.26 3.424l-6.26 3.423Z"
								></path>
							</g>
							<defs>
								<clipPath id="svgIDa2">
									<path fill="#fff" d="M0 0h24v24H0z"></path>
								</clipPath>
							</defs>
						</g>
					</svg>
				</a>
			</div>
		</div>
		<div class="cs-height_45 cs-height_lg_25"></div>
		<div class="container">
			<div
				class="cs-copyright text-center wow fadeIn"
				data-wow-duration="1s"
				data-wow-delay="0.5s"
			>
				Copyright © 2023. All Rights Reserved by
				<span class="cs-primary_font cs-primary_color">MZ CHORD</span>
			</div>
		</div>
	</footer>
</Layout>
